
/* === common ================ */

.tw-cnt.js .js-hid {
	display: none;
}

.tw-cnt .left {
	text-align: left;
}

.tw-cnt .center {
	text-align: center;
}

.tw-cnt .right {
	text-align: right;
}

.tw-cnt .nowrap {
	white-space: nowrap;
}



/* === table cells ================ */

.tw-cnt thead th {
	background: #eee;
	white-space: nowrap;
}

.tw-cnt table > thead > tr > th, .tw-cnt table > tbody > tr th, .tw-cnt table > tbody > tr > td {
	vertical-align: middle;
}

.tw-cnt .alert-warning {
	background: #f2dede;
}

.tw-cnt tr.checked > td {
	background: #d9edf7 !important;
}

.tw-cnt tr.checked:hover > td {
	background: #c4e3f3 !important;
}



/* === sorting ================ */

.tw-cnt .header-cell .multi-sort {
	padding: 2px 4px 4px;
}



/* === buttons ================ */

.tw-cnt .btn-group {
	white-space: nowrap;
}



/* === form controls ================ */

.tw-cnt select, .tw-cnt input[type="text"], .tw-cnt input[type="date"], .tw-cnt textarea {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



/* === footer ================ */

.tw-cnt .footer-cell > div {
	line-height: 32px;
}



/* === group actions ================ */

.tw-cnt .action-buttons-label {
	display: inline-block;
}



/* === pagination ================ */

.tw-cnt .tw-pagination {
	margin: 0;
}

.tw-cnt .tw-pagination select {
	width: auto;
	padding: 5px 4px;
	display: inline-block;
}

.tw-cnt .tw-pagination .actual {
	margin: 0 8px;
	display: inline-block;
}
