
/* === common ================ */

.tw-cnt.js .js-hid
{
	display: none;
}


.tw-cnt.loading *
{
	cursor: wait !important;
}


/* === table cells ================ */

.tw-cnt thead th
{
	background: #eee;
	white-space: nowrap;
}


.tw-cnt table > thead > tr > th,
.tw-cnt table > tbody > tr th,
.tw-cnt table > tbody > tr > td
{
	vertical-align: middle;
}


.tw-cnt .alert-warning
{
	background: #f2dede;
}


.tw-cnt tr.checked > td
{
	background: #d9edf7 !important;
}


.tw-cnt tr.checked:hover > td
{
	background: #c4e3f3 !important;
}


/* === sorting ================ */

.tw-cnt .header-cell.multisort
{
	position: relative;
	padding-right: 40px;
}


.tw-cnt .header-cell.multisorted-by
{
	padding-right: 70px;
}


.tw-cnt .header-cell .multisort-labels
{
	top: 4px;
	right: 4px;
	position: absolute;
}


.tw-cnt .header-cell .multisort-labels .btn
{
	padding: 2px 3px 2px 5px;
}


/* === group checkboxes & button columns ================ */

.tw-cnt .header-cell.group-checkbox,
.tw-cnt .body-cell.group-checkbox
{
	width: 1%;
}


.tw-cnt .filter-cell.buttons,
.tw-cnt .body-cell.row-actions
{
	width: 1%;
	font-size: 0;
	white-space: nowrap;
}


.tw-cnt .filter-cell.buttons .btn,
.tw-cnt .body-cell.row-actions .btn
{
	float: none;
}


/* === footer ================ */

.tw-cnt .footer-cell > div
{
	line-height: 32px;
}


/* === group actions ================ */

.tw-cnt .action-buttons-label
{
	display: inline-block;
}


/* === pagination ================ */

.tw-cnt .tw-pagination
{
	margin-top: 0;
	margin-bottom: 0;
}


.tw-cnt .tw-pagination input[type="number"]
{
	display: inline-block;
}


.tw-cnt .tw-pagination .actual
{
	margin: 0 8px;
	display: inline-block;
}
