
/* === common ================ */

.tw-cnt.js .js-hidden
{
	display: none;
}


/* === table cells ================ */

.tw-cnt thead th
{
	background-color: #eee;
}


.tw-cnt table > thead > tr > th,
.tw-cnt table > tbody > tr > th,
.tw-cnt table > tbody > tr > td
{
	vertical-align: top;
}


.tw-cnt tr.checked > td
{
	background: #d9edf7 !important;
}


.tw-cnt tr.checked:hover > td
{
	background: #c4e3f3 !important;
}


/* === sorting ================ */

.tw-cnt .header-cell.sort-cell
{
	position: relative;
}


.tw-cnt .header-cell.multi-sort
{
	padding-right: 40px;
}


.tw-cnt .header-cell.multi-sorted-by
{
	padding-right: 70px;
}


.tw-cnt .header-cell .sort-labels
{
	top: 7px;
	right: 4px;
	position: absolute;
}


.tw-cnt .header-cell .sort-labels .btn
{
	padding: 3px 4px 6px 5px;
}


/* === footer ================ */

.tw-cnt .footer-cell > div
{
	line-height: 32px;
}


/* === group actions ================ */

.tw-cnt .action-buttons-label
{
	display: inline-block;
}


/* === pagination ================ */

.tw-cnt .tw-pagination
{
	margin-top: 0;
	margin-bottom: 0;
}


.tw-cnt .tw-pagination select
{
	width: auto;
	padding: 5px 4px;
	display: inline-block;
}


.tw-cnt .tw-pagination .actual
{
	margin: 0 8px;
	display: inline-block;
}
